[package]
name = "cyper"
version = "0.1.0-beta.1"
description = "HTTP client library based on compio and hyper."
categories = ["asynchronous", "network-programming"]
keywords = ["async", "net"]
edition = { workspace = true }
authors = { workspace = true }
readme = { workspace = true }
license = { workspace = true }
repository = { workspace = true }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
compio-buf = { workspace = true, features = ["bytes"] }
compio = { workspace = true, features = ["time", "tls"] }
cyper-core = { workspace = true, features = ["client"] }

http = "0.2"
hyper = { workspace = true, features = ["client", "http1"] }

base64 = "0.21"
encoding_rs = "0.8"
mime = "0.3"
serde = "1"
serde_json = { version = "1", optional = true }
serde_urlencoded = "0.7"
thiserror = "1"
url = "2"

[dev-dependencies]
compio = { workspace = true, features = ["macros"] }
cyper-core = { workspace = true, features = ["server"] }

futures-channel = { workspace = true }
hyper = { workspace = true, features = ["server"] }
serde = { version = "1", features = ["derive"] }

[features]
default = ["native-tls"]
native-tls = ["cyper-core/native-tls"]
rustls = ["cyper-core/rustls"]
vendored = ["cyper-core/vendored"]
json = ["dep:serde_json"]
all = ["json", "native-tls", "rustls", "cyper-core/all"]

read_buf = ["cyper-core/read_buf"]
nightly = ["read_buf"]
